body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    
}

#message-el {
    font-style: italic;
    color: white;
}
button {
    color: #016f32;
    background-color: goldenrod;
    width: 150px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 2px;
}